<section class= "section1">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1161978357644631"
     crossorigin="anonymous"></script>
  </head>
    <div class= "container">
      <h1 class= "title">Deepak Sharma</h1>
      <h1 class= "title">Software Developer</h1>
      <img src="assets/IMG-20230423-WA0005.jpg" class= "img">

      <div class= "content-wrapper">
        <div class= "img-wrapper">
        </div>
        <br>
        <div class="text-wrapper">
          <p class= "text">You can upload your Videos here with Registering and Login 
            and share it to your friends , they only can watch that video can't access it. 
            You can see other users videos in user's collection sections whit their names that 
            who uploads that video and when.
                   </p>
          <p class= "text">  One of the most significant benefits of my website is that 
            it allows users to share their videos with a large audience. 
            In today's world, video content has become an essential part of 
            online communication, and your website provides a platform for 
            people to share their messages with the world. Whether it's a personal 
            video or a professional one, your website can help users reach a wider 
            audience and share their ideas with people across the globe
          </p>
  
          <div class="btn-wrapper">
            <a href="#" class="btn">
              <a href="http://heydeepak.netlify.app/">More About Me</a>
            </a>
          </div>
          <br>

          <p class= "text">  Click On More About Me button for my personal information
          </p>
        </div>
        <br>
     </div>
    </div>
  </section>
